
{% extends 'base1.html' %}
{% load static %}
{% block title %}Réservation{% endblock %}
{% block content %}
<section class="reservation-contact" id="reservation">
  <div class="reservation">
    <h2>Réserver une table</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-row">{{ form.date }}</div>
      <div class="form-row">{{ form.heure }}</div>
      <div class="form-row">{{ form.nombre_personne }}</div>
      <button type="submit">Réserver</button>
    </form>
  </div>
</section>
{% endblock %}
